{% extends "layout.twig" %}

{% block content %}
<h1 style="text-align: center;">NEW USER</h1>
<h3 style="text-align: center;">P&aacute;ginas de Usu&aacute;rios</h3>
<div style="text-align: center; margin-bottom: 20px;"">
    <a href="/">Homepage</a> |
    <a href="/usuario">Lista de Usuários</a>
</div>
<form action="/usuario/salvar" method="post" style="width: 30%; margin: 0 auto;">
    <input type="hidden" name="usuario[id]" value="{{user.id}}" />
    Nome: <input type="text" name="usuario[nome]" value="{{user.nome}}" /><br/>
    Login: <input type="text" name="usuario[login]" value="{{user.login}}" /><br/>
    Perfil:
    <select name="perfil">
    {% for perfil in perfis %}
        <option value="{{perfil.id}}">{{perfil.nome}}</option>
    {% endfor %}
    </select><br/>
    Senha: <input type="password" name="usuario[senha]" value="{{user.senha}}" /><br/>
    <br/>
    <input type="submit" value="Salvar" />
</form>
<h6 style="text-align: center;">by <a href="http://twitter.com/mlalbuquerque">@mlalbuquerque</a></h6>
{% endblock %}